<ion-header>
  <ion-toolbar color="header" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card></ion-card>
  <div class="center"><i><p>{{errorMessage}}</p></i></div>

  <ion-item>
    <ion-label position="floating">Numéro de Téléphone</ion-label>
    <ion-input type="tel" #telInput [(ngModel)]="tel"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text" #nomInput [(ngModel)]="nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input type="text" #prenomInput [(ngModel)]="prenom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Adresse e-mail</ion-label>
    <ion-input type="email" #emailInput [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mot de Passe</ion-label>
    <ion-input type="password" #passwordInput [(ngModel)]="password"></ion-input>
  </ion-item>

  <!--ion-item lines="none">
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Se souvenir de moi</ion-label>
    <ion-label [routerLink]=""><a>Mot de passe oublié?</a></ion-label>
  </ion-item-->

  <ion-card></ion-card>
  <ion-label>Compte existant? <a [routerLink]="['../login']">Connexion</a></ion-label>
  <ion-card></ion-card>

  <!--
  <ion-button color="bouton" size="large" shape="round" expand="block"><a [routerLink]="['../menu']" class="text_in_a">Se connecter</a></ion-button>
  -->
  <ion-button color="bouton" (click)="inscription()" size="large" shape="round" expand="block">S'inscrire</ion-button>
</ion-content>
