<ion-header [translucent]="true">
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Liste des incidents
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center">

    <ion-list class="card_center">

      <ion-item>
        <ion-card class="center" expand="block">
          <ion-card-header><ion-card-title>Accident de la route</ion-card-title></ion-card-header>
          <ion-card-content><p>(Pompiers), terminé</p></ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card class="center" expand="block">
          <ion-card-header><ion-card-title>Chute Poteau électrique</ion-card-title></ion-card-header>
          <ion-card-content><p>(ENEO), pris en compte</p></ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item  *ngFor="let incident of history">
        <ion-card class="center" expand="block">
          <ion-card-header><ion-card-title>{{incident.description}}</ion-card-title></ion-card-header>
          <ion-card-content><p>(CUY), {{incident.etat}}</p></ion-card-content>
        </ion-card>
      </ion-item>


    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <p class="footer_center">Copyright © Production ISI 2023-2024</p>
</ion-footer>
