<ion-header>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>À Propos de Incidenz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card></ion-card>
  <div class="center">
    <p>Bienvenue sur Incidenz, l'application qui vous permet de signaler et de suivre les incidents au sein de votre communauté. Notre mission est de faciliter la communication entre les citoyens et les services de la communauté, afin d'assurer une prise en charge rapide et efficace des problèmes rencontrés.</p>
    <p>Que ce soit pour signaler un problème de voirie, un incident environnemental, ou tout autre souci nécessitant l'intervention des autorités locales, Incidenz vous offre un moyen simple et rapide de faire entendre votre voix.</p>
    <p>En utilisant notre application, vous contribuez à améliorer la qualité de vie dans votre entourage et à favoriser un environnement plus sûr et plus agréable pour tous. Votre participation est essentielle pour construire une communauté solidaire et réactive face aux défis du quotidien.</p>
    <p>Nous sommes fiers de vous offrir cet outil innovant et nous vous félicitons de votre engagement envers votre communauté. Ensemble, faisons de Incidenz un levier de changement positif pour un avenir meilleur.</p>
  </div>

</ion-content>

<ion-footer>
  <p class="footer_center">Copyright © Production ISI 2023-2024</p>
</ion-footer>
