<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center">
    <ion-grid class="le_logo">
      <ion-row><p></p></ion-row>
      <ion-row>
        <ion-col size=2></ion-col>
        <ion-col size=8>
          <img src="assets/logo2-Incidenz.png" alt="">
        </ion-col>
        <ion-col size=2></ion-col>
      </ion-row>
      <ion-row><p></p></ion-row>
    </ion-grid>
  </div>
  <div class="center">
    <h2><strong>Mode de Connexion</strong></h2>
    <!--p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p-->
    <p><ion-button color="bouton" size="large" shape="round" expand="block">Utilisateur</ion-button></p>
    <p><ion-button color="bouton" size="large" shape="round" expand="block">Invité</ion-button></p>
    
  </div>
</ion-content>

<ion-footer>
  <p class="footer_center">Copyright © Production ISI 2023-2024</p>
</ion-footer>